*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body.principal {
 background-color: #444444;
  text-align: center;
}


.sessao {
  color: white;
}

ul .A {
  font-weight: bold;
  font-size: 10px;
  text-align: center;
}

.container {
  font-weight: bold;
  font-size: 5px;
  text-align: center;
}

header {
  background: linear-gradient(black, #444444);
  padding: 20px;
}

header img {
  width: 300px;
}

li{
  font-size: 20px;
}

.nome {
  color: white;
}
.caixa {
  position: relative;
  width: 940px;
  margin: 0 auto;
}

.container {
  top: 110px;
  right: 0;
}

.container li {
  display: inline;
  margin: 0 0 0 15px;
  text-align: center;
}

.container a {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
  text-decoration: none;
}

.instagram{
  background-color: white;
}

.footer {
  color: white;
  margin: 0;
}

footer{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	min-height: 20vh;
	background: linear-gradient(#444444, black);
	background-size: cover;
	text-align: center;
}


footer p{
	display: block;
	width: 100%;
	font-size: 1.3em;
	margin: 10px 0px;
}
.btn_social {
            width: 100%;
            float: left;
            display: flex;
            margin: auto;
        }

        .btn_social ul {
            width: auto;
            margin: auto;
            float: left;
            display: block;
        }

        .btn_social ul li {
            position: relative;
            background: #555555;
            list-style: none;
            float: left;
            margin: 5px;
            z-index: 1;
            overflow: hidden;
            border-radius: 3px;
            font-size: 1.5em;
            text-align: center;
        }

        .btn_social ul li a {
            width: 50px;
            height: 50px;
            line-height: 53px;
            display: block;
            text-decoration: none;
            color: #fff;
            transition: .4s;
        }

        .btn_social ul li::before {
            transition: 0.4s;
            position: absolute;
            content: '';
            width: 100%;
            height: 100%;
            top: 90%;
            left: 0;
            background: white;
            z-index: -1;
            transform: scale(1);
            transition: .4s;
        }

        .btn_social ul li:hover::before {
            transition: 0.4s;
            top: 0%;
        }

        .btn_social ul li a:hover {
            color: #555555;
        }
